<ion-view title="Event" id="page3">
  <ion-nav-buttons side="right" class="has-header">
    <a ui-sref="settings()">
      <button class="button button-icon icon ion-android-settings"></button>
    </a>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/QAE2vowVS7WPF5ZwQViO_party.png) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header">
    <div id="event-credit">
      <div id="event-container6">
        <h1 id="event-heading1" style="text-align:center;">15,60 €</h1>
        <p style="color:#3F3939; text-align: center; font-size: 26px;">available credit</p>
      </div>
      <div id="event-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#3F3939;">SOMMERFEST HAGENBERG </p>

        <p style="color:#3F3939;">12.05.2018</p>
      </div>
    </div>
    <div id="event-container7">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </div>
    <div class="list card" id="event-card21">
      <ion-item class="item-avatar item-icon-right" id="event-list-item3" ui-sref="receipts()">
        <img src="img/wEWOZFYxQwKbP8JrBTov_Bildschirmfoto2018-04-16um11.09.56.png">
        <h3>Drinks bar</h3>
        <p>02:55 13.05.18</p>
        <div class="price_receipt">
          <p class="price_negative">- 7,00</p>
        </div>
        <i class="icon ion-android-attach"></i>
      </ion-item>
    </div>
    <div class = "tabs tabs-icon-top">
      <a ui-sref="pastEvents()" class = "tab-item">
        past
      </a>
      <a ui-sref="event()" class = "tab-item active_tab">
        current
      </a>
      <a ui-sref="futureEvents()" class = "tab-item">
        future
      </a>
    </div>
</ion-view>