<ion-view title="Past Events" id="page4">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-settings"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="pastEvents-card22">
      <ion-item class="item-icon-left item-icon-right" id="pastEvents-list-item9">
        <i class="icon ion-android-pin"></i>Hagenberg
        <span class="item-note">12.04.2018</span>
        <i class="icon ion-android-calendar"></i>
      </ion-item>
      <div id="pastEvents-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Sommerfest</strong>
        </p>
      </div>
      <div id="pastEvents-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Expenses: 53,50 €</p>
      </div>
    </div>
    <div class="list card" id="pastEvents-card23">
      <ion-item class="item-icon-left item-icon-right" id="pastEvents-list-item10">
        <i class="icon ion-android-pin"></i>Linz
        <span class="item-note">30.03.2018</span>
        <i class="icon ion-android-calendar"></i>
      </ion-item>
      <div id="pastEvents-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Street Food Festival</strong>
        </p>
      </div>
      <div id="pastEvents-markdown15" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Expenses: 9,50 €</p>
      </div>
    </div>
    <div class="list card" id="pastEvents-card24">
      <ion-item class="item-icon-left item-icon-right" id="pastEvents-list-item11">
        <i class="icon ion-android-pin"></i>Unterweitersdorf
        <span class="item-note">12.03.2018</span>
        <i class="icon ion-android-calendar"></i>
      </ion-item>
      <div id="pastEvents-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Evers Opening</strong>
        </p>
      </div>
      <div id="pastEvents-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Expenses: 36,20 €</p>
      </div>
    </div>
    <div class="list card" id="pastEvents-card25">
      <ion-item class="item-icon-left item-icon-right" id="pastEvents-list-item12">
        <i class="icon ion-android-pin"></i>Hagenberg
        <span class="item-note">27.02.2018</span>
        <i class="icon ion-android-calendar"></i>
      </ion-item>
      <div id="pastEvents-markdown18" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>FKF-Party</strong>
        </p>
      </div>
      <div id="pastEvents-markdown19" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Expenses: 17,00 €</p>
      </div>
    </div>
    <div class= "tabs tabs-icon-top">
      <a ui-sref="pastEvents()" class= "tab-item active_tab">
        past
      </a>
      <a ui-sref="event()" class= "tab-item">
        current
      </a>
      <a ui-sref="futureEvents()" class= "tab-item">
        future
      </a>
    </div>
  </ion-content>
</ion-view>