<ion-view title="Pin" id="page2">
  <ion-content padding="true" style="background: url(img/JsrYnvCSnqQZjDKUebiK_party.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 121px;"></div>
    <div id="pin-container5">
      <div id="pin-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#3F3939;">Your personal PIN is generated!</p>
      </div>
      <div class="spacer" style="width: 300px; height: 12px;"></div>
      <div id="pin-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#3F3939;font-size:33px;">
          <strong>2859</strong>
        </p>
      </div>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
      <a ui-sref="event()" id="pin-button1" style="color:#3F3939;border-radius:15px 15px 15px 15px;" class="button button-stable button-block">Next</a>
    </div>
  </ion-content>
</ion-view>