<ion-view title="Receipts" id="page9">
  <ion-nav-buttons usi-sref="settings()" side="right" class="has-header">
    <button class="button button-icon icon ion-android-settings"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/QAE2vowVS7WPF5ZwQViO_party.png) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header">
    <div id="receipts3-container12" class="receipt-heading">
      <h4 id="receipts3-heading5" style="color:#000000;text-align:center;">Sommerfest Hagenberg</h4>
    </div>
    <div id="receipts3-container13" class="receipt-types-bar">
      <div id="receipts3-button-bar8" class="button-bar">
        <a ui-sref="receipts()" id="receipts3-button33" class="button receipt-type">all</a>
        <a ui-sref="receipts2()" id="receipts3-button34" class="button receipt-type">debits</a>
        <button id="receipts3-button35" class="button receipt-type">credits</button>
      </div>
    </div>
    <div class="list card" id="receipts3-card224">
      <ion-item class="item-avatar item-icon-right" id="receipts3-list-item33">
        <img src="img/wEWOZFYxQwKbP8JrBTov_Bildschirmfoto2018-04-16um11.09.56.png">
        <h2>Drinks bar</h2>
        <p>02:55 13.05.18</p>
        <div class="price_receipt">
          <p class="price_positive">- 7,00</p>
        </div>

        <i class="icon ion-android-attach"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </div>
    <div class="list card" id="receipts3-card225">
      <ion-item class="item-avatar item-icon-right" id="receipts3-list-item34">
        <img src="img/wEWOZFYxQwKbP8JrBTov_Bildschirmfoto2018-04-16um11.09.56.png">
        <h2>Drinks bar</h2>
        <p>02:55 13.05.18</p>
        <div class="price_receipt">
          <p class="price_positive">- 7,00</p>
        </div>

        <i class="icon ion-android-attach"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </div>
    <div class="list card" id="receipts3-card226">
      <ion-item class="item-avatar item-icon-right" id="receipts3-list-item35">
        <img src="img/wEWOZFYxQwKbP8JrBTov_Bildschirmfoto2018-04-16um11.09.56.png">
        <h2>Drinks bar</h2>
        <p>02:55 13.05.18</p>
        <div class="price_receipt">
          <p class="price_positive">- 7,00</p>
        </div>

        <i class="icon ion-android-attach"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </div>
    <div class="list card" id="receipts3-card227">
      <ion-item class="item-avatar item-icon-right" id="receipts3-list-item36">
        <img src="img/wEWOZFYxQwKbP8JrBTov_Bildschirmfoto2018-04-16um11.09.56.png">
        <h2>Drinks bar</h2>
        <p>02:55 13.05.18</p>
        <div class="price_receipt">
          <p class="price_positive">- 7,00</p>
        </div>

        <i class="icon ion-android-attach"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </div>

  </ion-content>
</ion-view>