<ion-view title="Receipts" id="page7">
  <ion-nav-buttons usi-sref="settings()" side="right" class="has-header">
    <button class="button button-icon icon ion-android-settings"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/QAE2vowVS7WPF5ZwQViO_party.png) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header">
    <div id="receipts-container8" class="receipt-heading">
      <h4 id="receipts-heading3" style="color:#000000;text-align:center;">Sommerfest Hagenberg</h4>
    </div>
    <div id="receipts-container9" class="receipt-types-bar">
      <div id="receipts-button-bar6" class="button-bar">
        <button id="receipts-button27" class="button receipt-type">all</button>
        <a ui-sref="receipts2()" id="receipts-button28" class="button receipt-type">debits</a>
        <a ui-sref="receipts3()" id="receipts-button29" class="button receipt-type">credits</a>
      </div>
    </div>
    <div class="list card" id="receipts-card214">
      <ion-item ui-sref="receiptNr1523()" class="item-avatar item-icon-right" id="receipts-list-item21">
        <img src="img/wEWOZFYxQwKbP8JrBTov_Bildschirmfoto2018-04-16um11.09.56.png">
        <h2>Drinks bar</h2>
        <p>02:55 13.05.18</p>
        <div class="price_receipt">
          <p class="price_negative">- 7,00</p>
        </div>
        <i class="icon ion-android-attach"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </div>
    <div class="list card" id="receipts-card215">
      <ion-item ui-sref="receiptNr1523()" class="item-avatar item-icon-right" id="receipts-list-item24">
        <img src="img/wEWOZFYxQwKbP8JrBTov_Bildschirmfoto2018-04-16um11.09.56.png">
        <h2>Drinks bar</h2>
        <p>02:55 13.05.18</p>
        <div class="price_receipt">
          <p class="price_negative">- 7,00</p>
        </div>
        <i class="icon ion-android-attach"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </div>
    <div class="list card" id="receipts-card216">
      <ion-item ui-sref="receiptNr1523()" class="item-avatar item-icon-right" id="receipts-list-item25">
        <img src="img/wEWOZFYxQwKbP8JrBTov_Bildschirmfoto2018-04-16um11.09.56.png">
        <h2>Drinks bar</h2>
        <p>02:55 13.05.18</p>
        <div class="price_receipt">
          <p class="price_negative">- 7,00</p>
        </div>
        <i class="icon ion-android-attach"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </div>
    <div class="list card" id="receipts-card218">
      <ion-item ui-sref="receiptNr1523()" class="item-avatar item-icon-right" id="receipts-list-item27">
        <img src="img/wEWOZFYxQwKbP8JrBTov_Bildschirmfoto2018-04-16um11.09.56.png">
        <h2>Drinks bar</h2>
        <p>02:55 13.05.18</p>
        <div class="price_receipt">
          <p class="price_negative">- 7,00</p>
        </div>
        <i class="icon ion-android-attach"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </div>
    <div class="list card" id="receipts-card217">
      <ion-item ui-sref="receiptNr1523()" class="item-avatar item-icon-right" id="receipts-list-item26">
        <img src="img/wEWOZFYxQwKbP8JrBTov_Bildschirmfoto2018-04-16um11.09.56.png">
        <h2>Drinks bar</h2>
        <p>02:55 13.05.18</p>
        <div class="price_receipt">
          <p class="price_negative">- 7,00</p>
        </div>
        <i class="icon ion-android-attach"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </div>
  </ion-content>
</ion-view>