<ion-view title="Settings" id="page11">
  <ion-content padding="true" style="background: url(img/jMKlEk5MS5KDAvmbf74n_party.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="list card" id="settings-card230">
      <div class="item item-body" id="settings-list-item-container7">
        <div id="settings-markdown40" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;" id="generated-pin">Generated PIN: 2859</p>
        </div>
      </div>
      <form id="settings-form3" class="list">
        <ion-toggle toggle-class="toggle-positive" id="settings-toggle1">Notification</ion-toggle>
        <ion-item class="range range-positive" id="settings-range1">30 €
          <input type="range" value="50" min="0" max="100" step="1">
        </ion-item>
      </form>
      <a ui-sref="scan()" id="settings-button37" class="button button-stable button-block">Logout</a>
    </div>
  </ion-content>
</ion-view>