page-login {

  img {
    height: 50%;
    width: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }

  .textor {
    width: 50%;
    color: #616161;
    font-size: 1.6em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    position: relative;
    float: clear;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    }

  .textpin {
    width: 50%;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    position: relative;
    text-align: center;
    float: clear;
    color: #616161;
    }



}
