<ion-view title="Event" id="page3">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-settings"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/QAE2vowVS7WPF5ZwQViO_party.png) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header">
    <div id="event-container6">
      <h1 id="event-heading1" style="color:#3F3939;text-align:center;">15,60 €</h1>
    </div>
    <div id="event-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#3F3939;">available credit</p>
    </div>
    <div id="event-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#3F3939;">SOMMERFEST HAGENBERG </p>

      <p style="color:#3F3939;">12.05.2018</p>
    </div>
    <div id="event-container7">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </div>
    <div class="list card" id="event-card21">
      <ion-item class="item-avatar item-icon-right" id="event-list-item3" ui-sref="receipts()">
        <img src="img/wEWOZFYxQwKbP8JrBTov_Bildschirmfoto2018-04-16um11.09.56.png">
        <h2>Drinks bar</h2>
        <p>02:55 13.05.18</p>
        <i class="icon ion-android-attach"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </div>
    <div id="event-button-bar1" class="button-bar">
      <a ui-sref="pastEvents()" id="event-button6" class="button button-stable button-block">past</a>
      <button id="event-button7" class="button button-stable button-block">current</button>
      <a ui-sref="futureEvents()" id="event-button8" class="button button-stable button-block">future</a>
    </div>
  </ion-content>
</ion-view>