<ion-view title="Receipts" id="page8">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-arrow-back"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-settings"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/QAE2vowVS7WPF5ZwQViO_party.png) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header">
    <div id="receipts2-container10">
      <h5 id="receipts2-heading4" style="color:#000000;text-align:center;">Sommerfest Hagenberg</h5>
    </div>
    <div id="receipts2-container11">
      <div id="receipts2-button-bar7" class="button-bar">
        <a ui-sref="receipts()" id="receipts2-button30" class="button button-light button-block button-clear">all</a>
        <button id="receipts2-button31" class="button button-light button-block button-clear">debits</button>
        <a ui-sref="receipts3()" id="receipts2-button32" class="button button-light button-block button-clear">credits</a>
      </div>
    </div>
    <div class="list card" id="receipts2-card219">
      <ion-item class="item-avatar item-icon-right" id="receipts2-list-item28">
        <img src="img/wEWOZFYxQwKbP8JrBTov_Bildschirmfoto2018-04-16um11.09.56.png">
        <h2>Drinks bar</h2>
        <p>02:55 13.05.18</p>
        <i class="icon ion-android-attach"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </div>
    <div class="list card" id="receipts2-card220">
      <ion-item class="item-avatar item-icon-right" id="receipts2-list-item29">
        <img src="img/wEWOZFYxQwKbP8JrBTov_Bildschirmfoto2018-04-16um11.09.56.png">
        <h2>Drinks bar</h2>
        <p>02:55 13.05.18</p>
        <i class="icon ion-android-attach"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </div>
    <div class="list card" id="receipts2-card221">
      <ion-item class="item-avatar item-icon-right" id="receipts2-list-item30">
        <img src="img/wEWOZFYxQwKbP8JrBTov_Bildschirmfoto2018-04-16um11.09.56.png">
        <h2>Drinks bar</h2>
        <p>02:55 13.05.18</p>
        <i class="icon ion-android-attach"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </div>
    <div class="list card" id="receipts2-card222">
      <ion-item class="item-avatar item-icon-right" id="receipts2-list-item31">
        <img src="img/wEWOZFYxQwKbP8JrBTov_Bildschirmfoto2018-04-16um11.09.56.png">
        <h2>Drinks bar</h2>
        <p>02:55 13.05.18</p>
        <i class="icon ion-android-attach"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </div>
    <div class="list card" id="receipts2-card223">
      <ion-item class="item-avatar item-icon-right" id="receipts2-list-item32">
        <img src="img/wEWOZFYxQwKbP8JrBTov_Bildschirmfoto2018-04-16um11.09.56.png">
        <h2>Drinks bar</h2>
        <p>02:55 13.05.18</p>
        <i class="icon ion-android-attach"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </div>
  </ion-content>
</ion-view>