page-receipts {

  .textlabels {
    text-transform: uppercase;
    font-size: 1.5em;

  }

  .card-md, .card-ios {
    border-radius: 10px !important;
  }

  .label-md, .label-ios {
    margin: 0px !important;

  }


}
