page-past {

  ion-content{
    background-color: white;
    background-image: none;
  }

  ion-item{
    padding: 0 !important;
  }

  ion-label {
    margin: 0 !important;
  }

  .item-inner {
    padding: 0 !important;
  }

}
